<div class="card">
  <form class="login-form">
    <div class="card-header">Login</div>
    <div class="form-group">
      <label for="email-login">Email Adress</label>
      <input type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>

<div class="card">
  <form class="signup-form">
    <div class="card-header">Signup</div>
    <div class="form-group">
      <label for="username-signup">Create Username</label>
      <input type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email Adress</label>
      <input type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>
